$h: 10d1c19c;

.container#{$h} {
  transition: height .3s ease;
  width: 300px;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 1em;
  margin: 1em auto;
  position: relative;

  .buttons#{$h} {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
  }
}
